<!-- <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'> -->
<link href='https://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>


<!--Navigation Bar-->
  <nav class="nav-wrap">
    <ul class="nav split">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Shop |</a></li>
      <li><a href="/about/index">About Us |</a></li>
      <li><a href="/contact/index">Contact</a></li>
    </ul>
  </nav>

  <div class="contact">
    <h1>Contact Us</h1>
  </div>


  <div class="contact-info">
    <!-- <h3>Contact Us</h3> -->
    <p>Zambezi Fruit Stand <br>
       5 Zambezi Way <br>
       Zambezi, Africa 55555<br>
       1-888-Zambezi
    </p>
  </div>


<div class="contact-form"
<%= form_for :article do |f| %>
 <p>
   <strong><%= f.label :Name %><br></strong>
   <%= f.text_field :name %>
 </p>

 <p>
  <strong><%= f.label :Email %><br></strong>
  <%= f.text_field :Email %>
 </p>

 <p>
   <strong><%= f.label :Message %><br></strong>
   <%= f.text_area :text %>
 </p>

 <p>
   <input type="button" value="Submit Message">
 </p>
<% end %>
</div>

<div class="contact-img">
  <%= image_tag("zambezi.png") %>
</div>
